.verticalCarousel {
  position: fixed;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.verticalCarousel ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;
}
.selected {
  border-right: 3px solid var(--main-color);
  padding: 0.5em 1em 0.5em 0em;
  transform: scale(1.5);
  transition-duration: 500ms;
}
.verticalCarousel ul li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: var(--font-title);
  font-size: 1em;
  list-style: none;
  margin: 0.5em 1em 0.5em 0em;
  position: relative;
}
.verticalCarousel ul li:not(.selected):hover {
  transform: scale(1.3);
  transition-duration: 300ms;
}

.icon {
  left: -25px;
  top: -5px;
  color: var(--main-color);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition-duration: 300ms;
}
.verticalCarousel ul li:not(.selected):hover  .icon {
  visibility: visible;
  opacity: 1;
  transition-duration: 300ms;
}
