.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 4rem 0px 4rem 0px;
}
.mainWrapper {
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }
}
